* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

/* Header */
header {
  background: #1F2937;
  height: 64px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header .logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

header .container ul{
  list-style-type: none;
  display: flex;
}

header a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
  margin-left: 16px;
  font-weight: 100;
}

/* Hero */

.hero {
  padding: 150px 0;
  background: #1F2937;
}

.hero .container {
  display: flex;
  gap: 12px;
}

.hero  .container div {
  flex: 1;
}

.hero h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 12px;
}

.hero p {
  color: #E5E7EB;
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 100;
}

.hero .placeholder-box {

  color: #E5E7EB;
  background: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero button {
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  background: #3882F6;
  font-size: 18px;
  color: #F9FAF8;
  font-weight: bold;
  

}

/* info block */
.info-block {
  padding-top: 50px;
  padding-bottom: 100px;
}

.info-block .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-block h2 {
  color: #1F2937;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.info-block .info-container{
  display: flex;
  gap: 64px;
}

.info-block .placeholder-box {
  height: 164px;
  width: 164px;
  border: 4px solid #3882F6;
  border-radius: 16px;
  margin-bottom: 12px;
}

.info-block .info {
  max-width: 164px;
  color: #737373;
}

/* Quote block */

.quote-block {
  background: #E5E7EB;
  padding: 100px 0;
}

.quote-block .container {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.quote-block .quote {
  color: #1F2937;
  font-size: 36px;
  font-style: italic;
  margin-bottom: 24px;
  font-weight: 100;
  align-self: center;
}

.quote-block .quote-credit{
  font-size: 18px;
  font-weight: bold;
  align-self: flex-end;
}


/* Action block */

.action-block .container {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 64px 0;
  background: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-block .container div {
  padding: 0 100px;
}

.action-block p {
  color: #F9FAF8; 
}

.action-block .call {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.action-block .prompt {
  color: #E5E7EB;
  font-weight: 100;
}

.action-block button {
  height: 28px;
  width: 100px;
  color: #F9FAF8;
  font-weight: bold;
  background: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 4px;
}
